<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
        <!-- Castro fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
     <!-- owl-carousel -->
    <link rel="stylesheet" href="assets/plugin/css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="assets/plugin/css/owl.theme.default.min.css" />
    <!-- animate-css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

     <!-- font-awesome    -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
     <!-- lightbox-gallery -->
     <link rel="stylesheet" href="assets/plugin/css/simple-lightbox.min.css">
     <!-- flat-icon -->
     <link rel="stylesheet" href="assets/font/flaticon.css">
    <!-- progressbar -->
    <link rel="stylesheet" href="assets/plugin/css/jquery.rprogessbar.min.css">
    <!-- aos.css -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
     <!-- main-style    -->
    <link rel="stylesheet" href="theme-style.css">
    <link rel="stylesheet" href="responsive.css">
    <title>Ecall</title>
</head>
<body>
    <!-- pre-loader -->
     <!-- <div class="preloader">
     </div> -->
     <!-- top-indicator -->
    <a href="#" class="scroll-top-indicator"><i class="fa fa-angle-up"></i></a>
    <!-- sidebar toggler -->
    <!-- <div class="sidebar-controler">
        <span></span>
        <span></span>
        <span></span>
    </div> -->
    <section class="main-top">
        <header>
            <div class="container">
                <div class="row">
                    <!-- header-logo -->
                    <div class="col-md-3 col-lg-3 col-xl-3 col-12 col-sm-5 d-flex align-items-center justify-content-between">
                      <div class="sidebar-open-icon">
                          <span></span>
                          <span></span>
                          <span></span>
                      </div>
                      <a href="index.html">
                      <div class="brand-logo">
                          <h4>E- <span>Call</span></h4>
                      </div>
                     </a>
                    
                    </div>
                    <!-- menu-area -->
                    <div class="col-md-5 col-lg-5 col-xl-5 col-1 col-sm-1">
                        <nav>
                            <ul>
                                <li><div class="brand-logo logo-side">
                                  <h4>E- <span>Call</span></h4>
                              </div> <div class="close-btn"><i class="fa fa-close"></i></div></li>
                                <li><a href="#" class="active">Home</a></li>
                                <li><a href="#">Doctors</a></li>
                                <li><a href="#">Patient</a></li>
                                <li><a href="#">Pharmacy</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- login-sign-up-btn -->
                    <div class="col-md-4 col-lg-4 col-xl-4 col-12 col-sm-6">
                        <div class="header-right">
                            <div class="header-right-contact-info">
                                <i class="flaticon-call"></i>
                                <div class="text-contact">
                                    <span>Contact</span>
                                    <b>+1 315 369 5943</b>
                                </div>
                            </div>
                            <!-- doctor-profile-dropdown-will be here -->
                             <!-- /doctor-profile-dropdown-will be here -->
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </section>
   <!-- bredcrump-wrapper -->
   <section>
    <div class="breadcrumb-top-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12">
                   <div class="section-bradcrumb">
                       <!-- left -->
                       <div class="breadcrumb-left">
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li>Doctor Profile</li>
                        </ul>
                        <h4>Profile Settings</h4>
                       </div>
                       
                   </div>
                </div>
            </div>
        </div>
    </div>
    <!-- doctor-dashboard-wrapper -->
    <div class="doctor-dashboard-wrapper bg-light-orange ptb-50">
        <div class="container">
            <div class="row">
                <!-- doctor-dash-left -->
                <div class="col-md-3 col-lg-3 col-sm-3 col-sm-12 col-12">
                  <div class="dash-left">
                      <div class="doct-dash-profile text-center my-3">
                          <div class="pro-img">
                              <img class="img-fluid" src="assets/images/dashboard/doctor-thumb-02.jpg" alt="thumbdoc.jpg">
                          </div>
                          <h6>Dr.Kutubuddin</h6>
                          <span>BDS, MDS - Oral & Maxillofacial Surgery</span>
                      </div>
                      <div class="doc-dash-page-link">
                        <nav>
                            <ul>
                                <li class="nav-item"><a href="doctor-dashboard.html" class="nav-link "><i class="fa fa-columns mr-2"></i>Dashboard</a></li>
                                <li class="nav-item"><a href="appointment.html" class="nav-link"><i class="fa fa-calendar-check mr-2"></i>Appointment</a></li>
                                <li class="nav-item"><a href="patient-list.html" class="nav-link"><i class="fa fa-wheelchair mr-2"></i>My Patients</a></li>
                                <li class="nav-item"><a href="doctor-profile-settings.html" class="nav-link"><i class="fa fa-user-md mr-2"></i>Profile Settings</a></li>
                                <li class="nav-item"><a href="doctor-schedule.html" class="nav-link"><i class="fa fa-clock mr-2"></i>Schedule Timing</a></li>
                                <li class="nav-item"><a href="doctor-message.html" class="nav-link"><i class="fa fa-comments mr-2"></i>Messages</a></li>
                                <li class="nav-item"><a href="doc-change-password.html" class="nav-link active"><i class="fa fa-lock mr-2"></i>Change Password</a></li>
                                <li class="nav-item"><a href="logout.html" class="nav-link" data-toggle="modal" data-target="#logout-modal"><i class="fa fa-sign-out-alt mr-2"></i>Logout</a></li>
                            </ul>
                        </nav>
                      </div>
                  </div>
                </div>
                <!-- doctor-dash-right -->
                <div class="col-md-9 col-lg-9 col-sm-9 col-sm-12 col-12">
                 <form action="">
                    <div class="doctor-change-password">
                        <!-- password information -->
                        <div class="card">
                            <div class="card-body">
                              <div class="row doctor-form">
                                  <!-- old-password -->
                                  <div class="col-md-7 col-lg-7 col-sm-12 col-12 col-xl-7">
                                      <div class="form-group">
                                          <label for="username">Old Password</label>
                                          <input type="password" name="old-password"id="old-password">
                                      </div>
                                  </div>
                                    <!-- New -password -->
                                  <div class="col-md-7 col-lg-7 col-sm-12 col-12 col-xl-7">
                                      <div class="form-group">
                                          <label for="username">New Password</label>
                                          <input type="password" name="old-password"id="old-password">
                                      </div>
                                  </div>
                                    <!-- Confirm-password -->
                                  <div class="col-md-7 col-lg-7 col-sm-12 col-12 col-xl-7">
                                      <div class="form-group">
                                          <label for="username">Confirm Password</label>
                                          <input type="password" name="old-password"id="old-password">
                                      </div>
                                  </div>
                              </div>
  
                            </div>
                        </div>
                    </div>
                 </form>
                   <!-- Submit Button -->
                   <div class="col-md-3 col-lg-3 col-sm-12 col-12 col-xl-3">
                    <div class="form-group">
                        <button  class="submit-button" id="docUsername" data-toggle="modal" data-target="#changed-password" >Update</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
  
   </section>
   <!-- log-out-modal -->
   <section>
        <!-- Modal logout -->
        <div class="modal fade" id="logout-modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-footer">
                  <a href="index.html" class="common-button-two">Confirm Logout</a>
                  <a href="doctor-dashboard.html" class="common-button-two">Back</a>
                </div>
            </div>
            </div>
        </div>
        <!--change password message Modal -->
        <div class="modal  fade" id="changed-password" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
            <div class="modal-content ">
                <div class="modal-header alert alert-success">
                    <h5 class="modal-title" id="exampleModalLabel">Password has been changed</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    
                </div>
                <div class="modal-footer">
                    <a href="doctor-dashboard.html" class="common-button-two">Go to Dashboard</a>
                </div>
            </div>
            </div>
        </div>
   </section>
   <!-- footer-section -->
    <footer>
      <div class="footer-section ptb-50">
          <div class="container">
              <div class="row">
                  <!-- single-footer-widget -->
                  <div class="col-md-5 col-lg-5 col-xl-5 col-12 col-sm-12">
                      <div class="single-widget">
                        <div class="logo">
                            <img src="assets/images/logo/logo.png" alt="logo.png">
                        </div>
                        <p>Get in touch with smart technology and get your Expected service from Technolt</p>
                        <div class="social-link">
                            <ul>
                                <li><a href="https://www.facebook.com/polockgrp/"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                      </div>
                  </div>
                    <!-- single-footer-widget -->
                    <div class="col-md-2 col-lg-2 col-xl-2 col-12 col-sm-12">
                    <div class="single-widget">
                       <h5>Our Concern</h5>
                        <div class="quick-link-footer">
                            <ul>
                                <li><a href="http://www.ngitbd.com/">NGIT</a></li>
                                <li><a href="http://1touchbd.com/">1touch</a></li>
                                <li><a href="https://www.facebook.com/PolockInteriorDesign">Polock Interior</a></li>
                                <li><a href="dryexpre.com.bd">Dry Express</a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                        <!-- single-footer-widget -->
                  <div class="col-md-2 col-lg-2 col-xl-2 col-12 col-sm-12">
                    <div class="single-widget">
                        <h5>Services</h5>
                        <div class="quick-link-footer">
                            <ul>
                                <li><a href="#">Interior</a></li>
                                <li><a href="#">Bank Management System</a></li>
                                <li><a href="#">Home & Commercial Automation </a></li>
                                <li><a href="#">Dry Express</a></li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- single-footer-widget -->
                <div class="col-md-3 col-lg-3 col-xl-3 col-12 col-sm-12">
                    <div class="single-widget">
                        <h5>Our Address</h5>
                         <div class="single-box">
                            <div class="footer-icon">
                                <i class="flaticon-house"></i>
                            </div>  
                             <div class="add-info">
                                3, 2, B, King of Dubai Commercial - (Bur Dubai Mankhool )
                             </div>
                         </div>
                         <div class="single-box">
                            <div class="footer-icon">
                                <i class="flaticon-mail"></i>
                            </div>  
                             <div class="add-info">
                                info@polockgroup.com
                             </div>
                         </div>
                         <div class="single-box">
                            <div class="footer-icon">
                                <i class="flaticon-call"></i>
                            </div>  
                             <div class="add-info">
                                +971 54 746 2503
                             </div>
                         </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 col-xl-12 copyright-bottom">
                   <div class="row">
                       <div class="col-md-7 col-xl-7 col-lg-7 col-12 col-sm-12">
                           <p class="text-center">Copyright ©2020 All rights reserved | technolt is made by  <a href="#">1-touch</a></p>
                       </div>
                       <div class="col-md-5 col-xl-5 col-lg-5 col-12 col-sm-12">
                         <ul class="footer-link-bottom">
                             <li><a href="#">Terms of Service</a></li>
                             <li><a href="#">Privacy Policy</a></li>
                             <li><a href="#">Support</a></li>
                         </ul>
                      </div>
                   </div>
                </div>
              </div>
          </div>
      </div>
    </footer>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" ></script>

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="assets/plugin/js/jquery.counterup.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/parallax.js/1.4.2/parallax.min.js"></script> -->
    <!-- <script src="assets/plugin/js/jquery.nivo.slider.js"></script> -->
    <script src="assets/plugin/js/owl.carousel.min.js"></script>
    <!-- <script src="assets/plugin/js/simple-lightbox.min.js"></script> -->
    <script src="assets/plugin/js/jQuery.rProgressbar.js"></script>
    <script src="assets/plugin/js/one-page-scroll.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.11"></script> -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="assets/plugin/js/sticky.js"></script>
    <!-- fontawesome-5 -->
    <script src="https://kit.fontawesome.com/b312a7a32d.js" crossorigin="anonymous"></script>
    <script src="active.js"></script> 
    <script src="formValidate.js"></script>
    <!-- <script src="home.js"></script> -->

</body>

</html>