         {{>header}}
            <div class="hero-content-info-wrapper"> 
               <div class="container">
                   <div class="row">
                       <!-- hero-content -->
                       <div class="col-md-10 col-lg-10 col-xl-10 offset-md-1 offset-lg-1 offset-xl-1">
                           <div class="hero-content-with-searchbox">
                               <h1>Emmergency Search Doctor,Nurse, Make an Appointment</h1>
                               <p>Discover the best doctors, Nurse & hospital the city nearest to you.</p>
                           </div>
                           <form action ="/search-view" method="GET">
                            <div class="row">
                                <!-- location-field -->
                                <div class="col-md-4 col-lg-4 col-xl-4 col-12 col-sm-12">
                                    <div class="input-location">
                                        <input type="text" placeholder="Search Location" name="location" id="searchLocation" style="background-image: url(assets/images/icon/location.png);">
                                        <span>Based on your Location</span>
                                    </div>
                                </div>
                                <!-- doctor/nurse-input-field -->
                                <div class="col-md-6 col-lg-6 col-xl-6 col-12 col-sm-12">
                                 <div class="input-d-n-Name">
                                     <input type="text" placeholder="Search Doctors, Nurse,Pharmacy,Desease Etc" name="docNurse" id="doctorNamne" style="background-image: url(assets/images/icon/search.png);">
                                     <span>Ex : Dental or Sugar Check up etc</span>
                                 </div>
                                </div>
                                <!-- search-button -->
                                <div class="col-md-2 col-lg-2 col-xl-2 col-12 col-sm-12">
                                    <div class="search-button">
                                        <input type="submit" class="searchBtn" value="" id="submitBtn">
                                        <i class="fa fa-search"></i>
                                    </div>
                                </div>
                            </div>
                           </form>
                       </div>
                   </div>
               </div>
            </div> 
    </section>
    <!-- service-section -->
    <section>
       <div class="service-section bg-light-orange">
           <div class="container">
                <div class="row">
                    <div class="section-title text-center ptb-50">
                        <h2 class="text-center">What are you Looking for?</h2>
                    </div>
                   <div class="col-md-12 col-xl-12 col-lg-12">
                       <div class="row  pb-50">
                           <!-- single-service -->
                           <div class="col-md-4 col-xl-4 col-lg-4 col-12 col-sm-12">
                             <div class="single-service-wrapper text-center">
                                 <img class="img-fluid" src="assets/images/service/doctor-07.jpg" alt="doctor.jpg">
                                 <div class="inner-service-content">
                                     <div class="service-info">
                                        <h4>Find a doctor</h4>
                                        <a href="#"><span>Book Now</span></a>
                                     </div>
                                 </div>
                             </div>
                           </div>
                             <!-- single-service -->
                           <div class="col-md-4 col-xl-4 col-lg-4 col-12 col-sm-12">
                             <div class="single-service-wrapper text-center">
                                 <img class="img-fluid" src="assets/images/service/nurse.jpg" alt="doctor.jpg">
                                 <div class="inner-service-content">
                                     <div class="service-info">
                                        <h4>Find a Nurse</h4>
                                        <a href="#"><span>Book Now</span></a>
                                     </div>
                                 </div>
                             </div>
                           </div>
                             <!-- single-service -->
                           <div class="col-md-4 col-xl-4 col-lg-4 col-12 col-sm-12">
                             <div class="single-service-wrapper text-center">
                                 <img class="img-fluid" src="assets/images/service/pharmacy.jpg" alt="doctor.jpg">
                                 <div class="inner-service-content">
                                     <div class="service-info">
                                        <h4>Find a Pharmacy</h4>
                                        <a href="#"><span>Book Now</span></a>
                                     </div>
                                 </div>
                             </div>
                           </div>
                       </div>
                   </div>
                </div>
           </div>
       </div>
    </section>
    <!-- clinic & specialities -->
    <section>
        <div class="specialities-section ptb-50">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-6 col-xl-6 offset-md-3 offset-lg-3 offset-xl-3">
                        <div class="section-title text-center ptb-50">
                            <h2>What are you Looking for?</h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>
                    <div class="col-md-10 col-lg-10 col-xl-10 offset-md-1 offset-lg-1 offset-xl-1">
                        <div class="specialities-slider-wrapper owl-carousel owl-theme">
                            <!-- single-slide -->
                            <div class="sinlge-slide-special">
                              <div class="slide-img">
                                  <img class="img-fluid" src="assets/images/department/specialities-01 (1).png" alt="1.png">
                              </div>
                              <h6>Urology</h6>
                            </div>
                              <!-- single-slide -->
                            <div class="sinlge-slide-special">
                              <div class="slide-img">
                                  <img src="assets/images/department/specialities-01 (1).png" alt="1.png">
                              </div>
                              <h6>Neorology</h6>
                            </div>
                              <!-- single-slide -->
                            <div class="sinlge-slide-special">
                              <div class="slide-img">
                                  <img src="assets/images/department/specialities-01.png" alt="1.png">
                              </div>
                              <h6>Cardiology</h6>
                            </div>
                              <!-- single-slide -->
                            <div class="sinlge-slide-special">
                              <div class="slide-img">
                                  <img src="assets/images/department/specialities-02.png" alt="1.png">
                              </div>
                              <h6>Orthopedic</h6>
                            </div>
                              <!-- single-slide -->
                            <div class="sinlge-slide-special">
                              <div class="slide-img">
                                  <img src="assets/images/department/specialities-03.png" alt="1.png">
                              </div>
                              <h6>Dentist</h6>
                            </div>
                              <!-- single-slide -->
                            <div class="sinlge-slide-special">
                              <div class="slide-img">
                                  <img src="assets/images/department/specialities-04.png" alt="1.png">
                              </div>
                              <h6>Gynocologist</h6>
                            </div>
                              <!-- single-slide -->
                            <div class="sinlge-slide-special">
                              <div class="slide-img">
                                  <img src="assets/images/department/specialities-05.png" alt="1.png">
                              </div>
                              <h6>Medicine</h6>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
   <!-- feature-doctor-area -->
   <section>
       <div class="feature-doctor-area bg-light-orange ptb-50">
          <div class="container">
              <div class="row">
                  <!-- featured-title-area -->
                <div class="col-md-4 col-lg-4 col-xl-4 col-12 col-sm-12">
                    <div class="section-title text-left">
                        <h2>Book Our Doctor</h2>
                        <span>Lorem Ipsum is simply dummy text</span>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum.</p>
                        <p>web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes</p>
                    </div>
                    <a href="#" class="common-button-two"><span class="text">Read More</span></a>
                </div>
                  <!-- featured-right doctor list -->
                <div class="col-md-8 col-lg-8 col-xl-8 col-12 col-sm-12">
                    <div class="doctorlist-slider-wrapper owl-carousel owl-theme">
                         <!-- single-slide-doctor -->
                         <div class="single-doctor-wrapper">
                             <div class="hover-icon">
                                <i class="fa fa-shield" aria-hidden="true"></i>
                             </div>
                            <!-- doctor-image -->
                           <div class="sngle-doctor-top">
                              <a href="#"> <img src="assets/images/doctor-list/doctor-01.jpg" alt="doctor.jpg"></a>
                           </div>
                           <!-- midle-info -->
                           <div class="single-doctor-midle">
                              <div class="doctor-name d-flex">
                                 <a href="#"> <h5>Sebrina Flora</h5></a>
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                              </div>
                             <span>MBBS, MD -General Medicine, DNB- Cardiology</span>
                             <ul class="star-review d-flex">
                                 <li><a href="#"><i class="fa fa-star"></i></a></li>
                                 <li><a href="#"><i class="fa fa-star"></i></a></li>
                                 <li><a href="#"><i class="fa fa-star"></i></a></li>
                                 <li><a href="#"><i class="fa fa-star"></i></a></li>
                                 <li><a href="#"><i class="fa fa-star"></i></a></li>
                             </ul>
                           </div>
                           <!-- doctor bottom- information -->
                           <div class="single-doctor-bottom">
                               <ul>
                                   <li><i class="fa fa-map-marker" aria-hidden="true"></i>Banani,Dhaka</li>
                                   <li><i class="fa fa-clock-o"></i>Available on Fri 21 February</li>
                                   <li><i class="fa fa-usd" aria-hidden="true"></i>500-1000 tk</li>
                               </ul>
                                <!-- view-profile-book-button -->
                               <div class="card-bottom-btn">
                                <a href="doctor-profile.html" class="common-button-two"><span class="text">View Profile</span></a>
                                <a href="booking-doctor.html" class="common-button-two active"><span class="text">Book Now</span></a>
                               </div>
                           </div>
                        </div>
                          <!-- single-slide-doctor -->
                        <div class="single-doctor-wrapper">
                            <!-- doctor-image -->
                           <div class="sngle-doctor-top">
                              <a href="#"> <img src="assets/images/doctor-list/doctor-02.jpg" alt="doctor.jpg"></a>
                           </div>
                           <!-- midle-info -->
                           <div class="single-doctor-midle">
                              <div class="doctor-name d-flex">
                                 <a href="#"> <h5>Dr.Iqbal Ahmmed</h5></a>
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                              </div>
                             <span>MBBS, MD -General Medicine, DNB- Cardiology</span>
                             <ul class="star-review d-flex">
                                 <li><a href="#"><i class="fa fa-star"></i></a></li>
                                 <li><a href="#"><i class="fa fa-star"></i></a></li>
                                 <li><a href="#"><i class="fa fa-star"></i></a></li>
                                 <li><a href="#"><i class="fa fa-star"></i></a></li>
                                 <li><a href="#"><i class="fa fa-star"></i></a></li>
                             </ul>
                           </div>
                           <!-- doctor bottom- information -->
                           <div class="single-doctor-bottom">
                               <ul>
                                   <li><i class="fa fa-map-marker" aria-hidden="true"></i>Banani,Dhaka</li>
                                   <li><i class="fa fa-clock-o"></i>Available on Fri 21 February</li>
                                   <li><i class="fa fa-usd" aria-hidden="true"></i>500-1000 tk</li>
                               </ul>
                                <!-- view-profile-book-button -->
                               <div class="card-bottom-btn">
                                <a href="doctor-profile.html" class="common-button-two"><span class="text">View Profile</span></a>
                                <a href="booking-doctor.html" class="common-button-two active"><span class="text">Book Now</span></a>
                               </div>
                           </div>
                        </div>
                          <!-- single-slide-doctor -->
                        <div class="single-doctor-wrapper">
                            <!-- doctor-image -->
                           <div class="sngle-doctor-top">
                              <a href="#"> <img src="assets/images/doctor-list/doctor-03.jpg" alt="doctor.jpg"></a>
                           </div>
                           <!-- midle-info -->
                           <div class="single-doctor-midle">
                              <div class="doctor-name d-flex">
                                 <a href="#"> <h5>Shimran Ahmmded</h5></a>
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                              </div>
                             <span>MBBS, MD -General Medicine, DNB- Cardiology</span>
                             <ul class="star-review d-flex">
                                 <li><a href="#"><i class="fa fa-star"></i></a></li>
                                 <li><a href="#"><i class="fa fa-star"></i></a></li>
                                 <li><a href="#"><i class="fa fa-star"></i></a></li>
                                 <li><a href="#"><i class="fa fa-star"></i></a></li>
                                 <li><a href="#"><i class="fa fa-star"></i></a></li>
                             </ul>
                           </div>
                           <!-- doctor bottom- information -->
                           <div class="single-doctor-bottom">
                               <ul>
                                   <li><i class="fa fa-map-marker" aria-hidden="true"></i>Banani,Dhaka</li>
                                   <li><i class="fa fa-clock-o"></i>Available on Fri 21 February</li>
                                   <li><i class="fa fa-usd" aria-hidden="true"></i>500-1000 tk</li>
                               </ul>
                                <!-- view-profile-book-button -->
                               <div class="card-bottom-btn">
                                   <a href="doctor-profile.html" class="common-button-two"><span class="text">View Profile</span></a>
                                   <a href="booking-doctor.html" class="common-button-two active"><span class="text">Book Now</span></a>
                               </div>
                           </div>
                        </div>
                          <!-- single-slide-doctor -->
                        <div class="single-doctor-wrapper">
                            <!-- doctor-image -->
                           <div class="sngle-doctor-top">
                              <a href="#"> <img src="assets/images/doctor-list/doctor-04.jpg" alt="doctor.jpg"></a>
                           </div>
                           <!-- midle-info -->
                           <div class="single-doctor-midle">
                              <div class="doctor-name d-flex">
                                 <a href="#"> <h5>Sebrina Flora</h5></a>
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                              </div>
                             <span>MBBS, MD -General Medicine, DNB- Cardiology</span>
                             <ul class="star-review d-flex">
                                 <li><a href="#"><i class="fa fa-star"></i></a></li>
                                 <li><a href="#"><i class="fa fa-star"></i></a></li>
                                 <li><a href="#"><i class="fa fa-star"></i></a></li>
                                 <li><a href="#"><i class="fa fa-star"></i></a></li>
                                 <li><a href="#"><i class="fa fa-star"></i></a></li>
                             </ul>
                           </div>
                           <!-- doctor bottom- information -->
                           <div class="single-doctor-bottom">
                               <ul>
                                   <li><i class="fa fa-map-marker" aria-hidden="true"></i>Banani,Dhaka</li>
                                   <li><i class="fa fa-clock-o"></i>Available on Fri 21 February</li>
                                   <li><i class="fa fa-usd" aria-hidden="true"></i>500-1000 tk</li>
                               </ul>
                                <!-- view-profile-book-button -->
                               <div class="card-bottom-btn">
                                <a href="doctor-profile.html" class="common-button-two"><span class="text">View Profile</span></a>
                                <a href="booking-doctor.html" class="common-button-two active"><span class="text">Book Now</span></a>
                               </div>
                           </div>
                        </div>
                        <!-- single-slide-doctor -->
                        <div class="single-doctor-wrapper">
                            <!-- doctor-image -->
                           <div class="sngle-doctor-top">
                              <a href="#"> <img src="assets/images/doctor-list/doctor-05.jpg" alt="doctor.jpg"></a>
                           </div>
                           <!-- midle-info -->
                           <div class="single-doctor-midle">
                              <div class="doctor-name d-flex">
                                 <a href="#"> <h5>Sebrina Flora</h5></a>
                                <i class="fa fa-check-circle" aria-hidden="true"></i>
                              </div>
                             <span>MBBS, MD -General Medicine, DNB- Cardiology</span>
                             <ul class="star-review d-flex">
                                 <li><a href="#"><i class="fa fa-star"></i></a></li>
                                 <li><a href="#"><i class="fa fa-star"></i></a></li>
                                 <li><a href="#"><i class="fa fa-star"></i></a></li>
                                 <li><a href="#"><i class="fa fa-star"></i></a></li>
                                 <li><a href="#"><i class="fa fa-star"></i></a></li>
                             </ul>
                           </div>
                           <!-- doctor bottom- information -->
                           <div class="single-doctor-bottom">
                               <ul>
                                   <li><i class="fa fa-map-marker" aria-hidden="true"></i>Banani,Dhaka</li>
                                   <li><i class="fa fa-clock-o"></i>Available on Fri 21 February</li>
                                   <li><i class="fa fa-usd" aria-hidden="true"></i>500-1000 tk</li>
                               </ul>
                                <!-- view-profile-book-button -->
                               <div class="card-bottom-btn">
                                <a href="doctor-profile.html" class="common-button-two"><span class="text">View Profile</span></a>
                                <a href="booking-doctor.html" class="common-button-two active"><span class="text">Book Now</span></a>
                               </div>
                           </div>
                        </div>
                        
                    </div>
                </div>
              </div>
          </div>
       </div>
   </section>
   <!-- footer-section -->
   {{>footer}}
   