<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
        <!-- Castro fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
     <!-- owl-carousel -->
    <link rel="stylesheet" href="assets/plugin/css/owl.carousel.min.css"/>
    <link rel="stylesheet" href="assets/plugin/css/owl.theme.default.min.css" />
    <!-- animate-css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>

     <!-- font-awesome    -->
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
     <!-- lightbox-gallery -->
     <link rel="stylesheet" href="assets/plugin/css/simple-lightbox.min.css">
     <!-- flat-icon -->
     <link rel="stylesheet" href="assets/font/flaticon.css">
    <!-- progressbar -->
    <link rel="stylesheet" href="assets/plugin/css/jquery.rprogessbar.min.css">
    <!-- aos.css -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
     <!-- main-style    -->
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
    <title>ecall</title>
</head>
<body>
    <!-- pre-loader -->
     <!-- <div class="preloader">
     </div> -->
     <!-- top-indicator -->
    <a href="#" class="scroll-top-indicator"><i class="fa fa-angle-up"></i></a>
    <section class="main-top">
            <header>
              <div class="container">
                  <div class="row">
                      <!-- header-logo -->
                      <div class="col-md-3 col-lg-3 col-xl-3 col-12 col-sm-5 d-flex align-items-center justify-content-between">
                        <div class="sidebar-open-icon">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                        <a href="/">
                        <div class="brand-logo">
                            <h4>E- <span>Call</span></h4>
                        </div>
                       </a>
                      
                      </div>
                      <!-- menu-area -->
                      <div class="col-md-5 col-lg-5 col-xl-5 col-1 col-sm-1">
                          <nav>
                              <ul>
                                  <li><div class="brand-logo logo-side">
                                    <h4>E- <span>Call</span></h4>
                                </div> <div class="close-btn"><i class="fa fa-close"></i></div></li>
                                  <li><a href="#" class="active">Home</a></li>
                                  <li><a href="#">Doctors</a></li>
                                  <li><a href="#">Patient</a></li>
                                  <li><a href="#">Pharmacy</a></li>
                                  <li><a href="#">Contact</a></li>
                              </ul>
                          </nav>
                      </div>
                      <!-- login-sign-up-btn -->
                      <div class="col-md-4 col-lg-4 col-xl-4 col-12 col-sm-6">
                          <div class="header-right">
                              <div class="header-right-contact-info">
                                  <i class="flaticon-call"></i>
                                  <div class="text-contact">
                                      <span>Contact</span>
                                      <b>+1 315 369 5943</b>
                                  </div>
                              </div>
                              <div class="login-signUP-btn">
                                <a href="login" class="common-button actv"><span class="txt">Login</span></a>
                                <a href="doctor-signup" class="common-button"><span class="txt">SignUp</span></a>
                            </div>
                          </div>
                      </div>
                  </div>
              </div>
            </header>